fastapi==0.135.2
feedparser==6.0.12
graphviz==0.21
groq>=0.30.0,<1.0.0
kuzu==0.11.3
langchain-core==1.2.23
langchain-groq==1.1.2
langchain-openai==1.1.12
networkx==3.6.1
openai==2.30.0
pandas==2.2.2
plotly==6.6.0
pydantic==2.12.5
pytest==7.4.4
python-dotenv==1.2.2
python-dateutil==2.9.0.post0
requests==2.33.0
streamlit==1.55.0
streamlit-agraph==0.0.45
streamlit-option-menu==0.4.0
uvicorn==0.42.0
